name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install cmake just libexpat1-dev libfontconfig-dev libfreetype-dev libxkbcommon-dev pkgconf
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --verbose
      # - name: Run tests
      #   run: cargo test --verbose
      - name: Check code style
        run: cargo fmt --check
      - name: Lint code
        run: just check
